
/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

/*Reset padding, marging and box-sizing inglobal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Light", sans-serif;
  width: 100%;
  height: 100%;
}

h1 h2 h3 h4 h5 h6 {
  color: black;
}

/*!* ------------------------------- 2. Areas ---------------------------------------- *!*/


/*!* --------------- 2.3 Products ------------------- *!*/



/*!* ------------------------------- 3. Media Queries -------------------------------- *!*/

/*@media screen and (max-width: 1200px) {*/
/*    main {*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*    }*/


/*}*/